div.navmenu {
    margin-bottom: 1rem;
}


div.navmenu ul {
    display: block;
    margin: 0px;
    padding-left: 15px;
}


div.navmenu li {
    display: block;
}


div.navmenu ul li ul {
    display: none;
}


div.navmenu a {
    display: block;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
	font-weight: 500;
    font-size: 1rem;
	color: #333;
}


div.navmenu a:hover {
	font-weight: 500;
    color: #333;
	text-decoration: None;
}

div.navmenu a .feather {
    color: #999;
    margin-right: 5px;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
}

div.navmenu a:hover .feather {
    color: #000;
    margin-right: 5px;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
}

div.navmenu a.active {
    color: #007bff;
}

div.navmenu a.active .feather {
    color: #007bff;
}

div.navmenu a.active:hover {
    color: #007bff;
}

div.navmenu a.active:hover .feather {
    color: #007bff;
}
