/* fix select 2 autoscale bug, select2 has inline css of 1122px. bug bug bug */
.select2 {
    width: 100% !important;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

select.select {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  height: 28px;
  background-color: #FFFFFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 2px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='black'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 5px) center;
  background-repeat: no-repeat;
}


/* CAUTION: IE hackery ahead */
select.select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select.select {
        background:none\9;
        padding: 5px\9;
    }
}

.navbar-wrapper {
}

.modal-header {
    background-color: #29527f;
    padding: 4px;
    color: #fff;
}

.red {
    color: red;
}

body {
    background-color: #E7E8EB;
    background-image: url("/static/themes/default/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.btn-space {
    margin-left: 5px;
    margin-right: 5px;
}

.modal-dialog {
    width: 75%;
}

button.view_button {
    height: 24px;
    width: 24px;
    border-width: 1px;
    background-color: #FFFFFF;
    background-image: url("/static/themes/default/view.png");
    background-repeat: no-repeat;
    border-style: solid;
}

button.edit_button {
    height: 24px;
    width: 24px;
    border-width: 1px;
    background-color: #FFFFFF;
    background-image: url("/static/themes/default/edit.png");
    border-style: solid;
    background-repeat: no-repeat;
}

.menu-icon {
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0.5;
}

.menu-icon:hover {
    opacity: 1;
}


div.icon-bar {
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    margin: 6px 0;
}

div.open_tenant-section {
    top: 50px;
    padding-top: 50px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 100%;
    z-index: 1029;
}

div.context-section {
    position: fixed;
    bottom: 20px;
    margin: 0px;
    width: 100%;
    z-index: 20000;
}


div.top-navigation-section {
    opacity: 0.95;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background: #000000;
    position: fixed;
    width: 100%;
    z-index: 100000;
    color: #9d9d9d;
    height: 50px;
    min-width: 800px;
    display: block;
}


.top-navigation-section-mobile button {
    display: block;
    float: right;
    background-color: #000000;
    height: 50px;
    padding: 0px;
    margin: 0px;
    border-style: none;
}

div.menu-wrapper {
    display: block;
}

div.top-navigation-section-mobile {
    opacity: 0.95;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background: #000000;
    width: 100%;
    z-index: 1000000;
    color: #9d9d9d;
    position: relative;
}

.menu-mobile {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    z-index: 1000000;
}
ol.menu-mobile, .menu-mobile ol {
    list-style: none;
    z-index: 1000000;
    padding: 0px;
    margin: 0;
}

.menu-mobile li a {
    display: block;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
}

.menu-mobile li ol li a { 
    border-bottom-style: none;
    background-color: #ccc;
    padding: 5px;
}


.top-navigation-section button {
    display: none;
}

div.menu-wrapper {
    display: block;
}
.top-navigation-section img {
    float: left;
    height: 50px;
}

.top-navigation-section-static  {
    display: block;
    float: right !important;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 15px;
}

a:hover.top-navigation-section-static {
    color: #c9302c;
    text-decoration: none;
}

.top-navigation-section div > * {
    float: left;
}

.menu {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    z-index: 1000000;
}

ol.menu, .menu ol {
    list-style: none;
    z-index: 1000000;
}

.menu li, .menu ol, .menu a {
    position: relative;
    padding: 0;
    margin: 0;
}

.menu li ol { 
    display: none;
}

.menu li:hover > ol {
    display: block;
}

.menu-horizontal li ol {
    min-width: 150px;
}

.menu-horizontal li {
    float: left;
    position: relative;
}

.menu-horizontal li a {
    display: block;
}

.menu-horizontal ol ol {
    left: 100%;
    top: 0;
}

.menu-horizontal li:hover > ol {
    position: absolute;
}

.menu-horizontal li:hover li { float: none; }

ol.menu-vertical, .menu-vertical ol {
    width: 100%;
    max-width: 260px;
}

.menu-vertical a {
    display: block;
    width: 100%;
    overflow: hidden;
}

.menu-vertical li {
    width: 100%;
}

.menu-vertical a {
}

.menu-vertical li:hover > ol {
    position: absolute;
    top: 0;
    left: 100%;
}

ol.menu-theme, .menu-theme li {
  background: #000000;
}

.menu-theme li a {
    text-decoration: none;
    color: #9d9d9d;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 15px;
}

.menu-theme li:hover > a {
    color:#000000;
    background: #cccccc;
}

ol.menu-top-theme {
    display: relative;
}

ol.menu-top-theme li a:hover {
    background: #343434;
}

.menu-top-theme ol {
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.menu-top-theme ol li a {
    background-color: #ffffff;
    color: #000000;
}

.menu-top-theme li a {
    text-decoration: none;
    color: #e1ffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 15px;
}

.menu-top-theme li:hover > a {
    color:#efefef;
    background: #000000;
}

.menu-top-theme ol li:hover > a {
    color:#efefef;
    background: #337ab7;
}

.menu-active-top-theme {
    background-color: #4caf50 !important;
    color: #ffffff !important;
}

.menu-active-left-theme {
    background-color: #4caf50 !important;
    color: #ffffff !important;
}

.menu-left-theme li > a {
    background: #f3f3f3;
    border-radius: 5px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.menu-left-theme li:last-child > a {
    border-bottom-style: solid;
}

.menu-left-theme li a {
    text-decoration: none;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-left-theme li:hover > a {
    color:#ffffff;
    background: #555555;
}

div.modal {
    opacity: 0.9;
    position: absolute;
    top: 45px;
    left: 10%;
    right: 10%;
    bottom: auto;
    margin: auto;
    width: 80%;
    background-color: #FFFFFF;
    z-index: 1055;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

div.locked {
    background-color: #000000;
    overflow: hidden;
    position: fixed;
    z-index: 100001;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.hidden {
    display: none
}

div.login {
    position: fixed;
    display: block;
    width: 600px;
    z-index: 100002;
}

div.confirm {
    display: none;
    position: absolute;
    top: 100px;
    left: 10%;
    right: 10%;
    margin: auto;
    width: 600px;
    height: auto;
    background-color: #FFFFFF;
    z-index: 10000;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

div.auto-logout {
    display: none;
    position: absolute;
    top: 100px;
    left: 10%;
    right: 10%;
    margin: auto;
    width: 500px;
    height: auto;
    background-color: #FFFFFF;
    z-index: 1005;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

div.window {
    opacity: 0.9;
    display: none;
    position: absolute;
    top: 45px;
    left: 10%;
    right: 10%;
    margin: auto;
    width: 80%;
    height: auto;
    background-color: #FFFFFF;
    z-index: 1055;
    overflow: auto;
    border: 0px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

div.loading {
    z-index: 200000;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .6 )url('/static/photonic/images/loader.gif')50% 50% no-repeat;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}

#popup {
    z-index: 4000;
    width: 300px;
    position: fixed;
    top: 50px;
    left: auto;
    right: 10px;
}

div.error {
    background-color: #f4e2e3;
    color: #9a6e6f;
    display: none;
}

div.warning {
    background-color: #fff4c3;
    color: #b09100;
    display: none;
}

div.info {
    background-color: #deeff7;
    color: #6d8a98;
    display: none;
}

div.ids {
    color: #006621;
}

div.search_result {
    padding-bottom: 10px;
}

div.search_title {
    color: ;
    font-size: 18px;
}

div.success {
    background-color: #e2f2dd;
    color: #598766;
    display: none;
}

div.popup {
    border-color: #D8D8D8;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

div.open_tenant {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: #eee;
    opacity: 1;
    heigth: 34px;
    padding 6px 12px;
    line-height: 1.42857143;
    color: #555;
    border-radius: 4px;
    border-top: 1px solid #00c5ff;
    border-left: 1px solid #00c5ff;
    border-right: 1px solid #00c5ff;
    border-bottom: 1px solid #00c5ff;
    font-family: inherit;
    margin: 0;
    box-shadow: 0 0 4px #888888;
}


div.box {
    width: auto;
    border-style: solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-color: #e3e3e3;
    background-color: #f5f5f5;
    border-width: 1px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 12px;
    min-height: 12px;
}

div.block {
    box-shadow: 5px 5px 5px #888888;
    opacity: 0.95;
    background-color: #FFFFFF;
    border-color: #D8D8D8;
    border-style: solid;
    border-width: 1px;
    color: #5B5B5B;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 100%;
    border-radius: 8px;
}

span.title {
    font-weight: bold;
}

div.block_title {
    border-bottom-width: 1px;
    border-color: #D8D8D8;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-top-width: 0px;
    color: #318BBB;
    font: bold 15px 'lucida sans','trebuchet MS', 'Tahoma';
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
}

div.block_content {
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
}

div.block_menu {
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
    overflow: visible;
}


div.menu_accounts {
    z-index: 1001;
    position: relative;
}

div.menu_services {
    z-index: 1000;
    position: relative;
}

div.push_top {
    height: 70px;
    width: 100%;
    clear: both;
    z-index: 1;
}

div.push_bottom {
    height: 40px;
    width: 100%;
    clear: both;
    z-index: 1;
}


.context-bar {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border: 0px solid rgba(0, 0, 0, .2);
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    width: 100%;
}

.tenant-bar {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border: 0px solid rgba(0, 0, 0, .2);
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    width: 100%;
}

.search-bar-box {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border: 0px solid rgba(0, 0, 0, .2);
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    min-width: 40%;
}

footer {
    background-color: #5B5B5B;
    bottom: 0px;
    clear: both;
    color: #FFFFFF;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    position: fixed;
    text-align: center;
    z-index: 1010;
    width: 100%;
}

footer:before {
    content: 'Tachyonic Framework - Copyright (c) 2016 to 2017, Christiaan
    Frans Rademan, Allan Swanepoel, Dave Kruger. All rights resevered.
    BSD3-Clause License';
}

footer:after {
}
