
html {
    height: 100%;
}

.container {
    margin-left: 4px !important;
}

/* fix select 2 autoscale bug, select2 has inline css of 1122px. bug bug bug */
.select2 {
    width: 100% !important;
}

body {
    height: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: #fff;
}

header {
    position: fixed;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: #343a40;
    display: flex;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.header-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    display: inline-block;
    white-space: nowrap;
    line-height: inherit;
    color: #fff;
}

.header-brand:hover, .header-brand:focus {
    color: #fff;
    text-decoration: none;
}

.header-brand img {
    margin-right: 5px;
}

div.header-links {
    position: fixed;
    right: 0px;
    margin-right: 5px;
    justify-content: space-between;
}

.header-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 5px;
    padding-right: 5px;
    display: relative;
    float: right;
    white-space: nowrap;
    line-height: inherit;
    color: rgba(255,255,255,.5);
}

.header-link:hover, .header-link:focus {
    color: rgba(255,255,255,.75);
    text-decoration: none;
}

.application {
    height: 100%;
}

div.push_header {
    height: 3rem;
    width: 100%;
    clear: both;
    z-index: 1;
}

div.push_footer {
    height: 2rem;
    width: 100%;
    clear: both;
    z-index: 1;
}

div.navigation {
    position: fixed;
    padding: 5px;
    background-color: #f8f9fa;
    top: 0px;
    bottom: 0px;
    width: 250px;
    overflow-x: scroll;
    overflow-y: none;
    z-index: 999;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

main {
    height: 100%;
    width: calc(100% - 250px);
    background-color: #ffffff;
    padding: 5px;
    margin-left: 250px;
}

span.toggler-icon {
    display: none;
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin: 0px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    content: "";
    height: 48px;
    background-repeat: none;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 10px;

}

@media screen and (max-width: 1100px) {
    div.navigation {
        display: none;
    }
    main {
        margin-left: 0px;
    }
    span.toggler-icon {
        display: inline-block !important;
    }
}

h1 {
    color: #427FA2;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
}


footer {
    background-color: #343a40;
    left: 0px;
    right: 0px;
    bottom: 0px;
    clear: both;
    color: #FFFFFF;
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
    position: fixed;
    text-align: center;
    z-index: 1000;
    width: 100%;
}

div.locked {
    background-color: #000000;
    overflow: hidden;
    position: fixed;
    z-index: 100001;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.hidden {
    display: none
}

.unhide {
    display: block !important;
}

div.modal {
    opacity: 0.97;
    position: fixed;
    top: 4rem;
    left: 15%;
    right: 15%;
    bottom: auto;
    margin: auto;
    background-color: #FFFFFF;
    overflow: auto;
    z-index: 1000;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.modal-header {
    background-color: #29527f;
    padding: 4px;
    font-size: 1rem;
    color: #fff;
}

.modal-login {
    display: block;
    z-index: 100002 !important;
    width: 300px !important;
}

select.select {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  height: 28px;
  background-color: #FFFFFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 2px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='black'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 5px) center;
  background-repeat: no-repeat;
}


/* CAUTION: IE hackery ahead */
select.select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select.select {
        background:none\9;
        padding: 5px\9;
    }
}


.red {
    color: red;
}



button.view_button {
    height: 24px;
    width: 24px;
    border-width: 1px;
    background-color: #FFFFFF;
    background-image: url("images/view.png");
    background-repeat: no-repeat;
    border-style: solid;
}

button.edit_button {
    height: 24px;
    width: 24px;
    border-width: 1px;
    background-color: #FFFFFF;
    background-image: url("images/edit.png");
    border-style: solid;
    background-repeat: no-repeat;
}






div.confirm {
    display: none;
    position: absolute;
    top: 100px;
    left: 10%;
    right: 10%;
    margin: auto;
    width: 600px;
    height: auto;
    background-color: #FFFFFF;
    z-index: 10000;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

div.auto-logout {
    display: none;
    position: absolute;
    top: 100px;
    left: 10%;
    right: 10%;
    margin: auto;
    width: 500px;
    height: auto;
    background-color: #FFFFFF;
    z-index: 1005;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

div.window {
    opacity: 0.9;
    display: none;
    position: absolute;
    top: 45px;
    left: 10%;
    right: 10%;
    margin: auto;
    width: 80%;
    height: auto;
    background-color: #FFFFFF;
    z-index: 1055;
    overflow: auto;
    border: 0px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

div.loading {
    z-index: 200000;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .6 )url('/static/photonic/images/loader.gif')50% 50% no-repeat;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}

#popup {
    z-index: 4000;
    width: 300px;
    position: fixed;
    top: 50px;
    left: auto;
    right: 10px;
}

div.error {
    background-color: #f4e2e3;
    color: #9a6e6f;
    display: none;
}

div.warning {
    background-color: #fff4c3;
    color: #b09100;
    display: none;
}

div.info {
    background-color: #deeff7;
    color: #6d8a98;
    display: none;
}

div.success {
    background-color: #e2f2dd;
    color: #598766;
    display: none;
}

div.popup {
    border-color: #D8D8D8;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

div.box {
    width: auto;
    border-style: solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-color: #e3e3e3;
    background-color: #f5f5f5;
    border-width: 1px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 12px;
    min-height: 12px;
}




