{% extends "photonic/base.html" %}
{% block content %}
<form method='post' enctype="multipart/form-data" class="form-horizontal" data-type="save" data-method='PATCH' data-url="{{APP}}/apiproxy?url=v1/endpoint/{{id}}">
    {{ form }}

    <input class="btn btn-primary" type="submit" value="Update">
    <a data-confirm="Delete item?" href="{{ APP }}/system/endpoints/delete/{{id}}" class="btn btn-danger">Delete</a>
    <a href="{{ APP }}/system/endpoints/{{id}}" class="btn btn-default">Back</a>
</form>
{% endblock %}
