<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">

        <link type="text/css" rel="stylesheet" href="{{STATIC}}/photonic/jquery-ui/jquery-ui.min.css">
        <link type="text/css" rel="stylesheet" href="{{STATIC}}/photonic/bootstrap/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="{{STATIC}}/photonic/DataTables/datatables.min.css">
        <link type="text/css" rel="stylesheet" href="{{STATIC}}/photonic/select2/css/select2.min.css">
        <link type="text/css" rel="stylesheet" href="{{SITE}}/css">
        <link type="text/css" rel="stylesheet" href="{{STATIC}}/custom.css">

        <script type="text/javascript" src="{{STATIC}}/photonic/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{{STATIC}}/photonic/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{STATIC}}/photonic/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{STATIC}}/photonic/DataTables/datatables.min.js"></script>
        <script type="text/javascript" src="{{STATIC}}/photonic/select2/js/select2.min.js"></script>
        <script type="text/javascript" src="{{STATIC}}/photonic/tachyonic.js"></script>

        <link rel="icon" href="{{STATIC}}/photonic/images/tachyon-sm.png">

        {% for css in REQUEST.context.css %}
        <link type="text/css" rel="stylesheet" href="{{STATIC}}/{{css}}">
        {% endfor %}
        {% for js in REQUEST.context.js %}
        <script type="text/javascript" src="{{STATIC}}/{{js}}"></script>
        {% endfor %}

        <title>{{ APP.config.get("application").get('name', 'Tachonic UI') }}</title>
    </head>
    <body>
        {% if REQUEST.is_mobile() %}
        <div class="top-navigation-section-mobile">
        {% else %}
        <div class="top-navigation-section">
        {% endif %}
            <div class="container">
                {% if CUSTOM_LOGO %}
                <a href="#"><img src="{{SITE}}/image/logo/{{THEME_DOMAIN}}" alt="{{ APP.config.get("application").get('name', 'Tachonic UI') }}" title="{{ APP.config.get("application").get('name', 'Tachonic UI') }}" height="50px" id="nav_logo"></a>
                {% else %}
                <a href="#"><img src="{{STATIC}}/photonic/images/tachyon-sm.png" alt="{{ APP.config.get("application").get('name', 'Tachonic UI') }}" title="{{ APP.config.get("application").get('name', 'Tachonic UI') }}" id="nav_logo"></a>
                {% endif %}
                {% if REQUEST.is_mobile() %}
                <button data-toggle="collapse" data-target="#menu-content">
                    <div class="icon-bar"></div>
                    <div class="icon-bar"></div>
                    <div class="icon-bar"></div>
                </button>
                {% endif %} 

                {% if REQUEST.auth['login'] %}
                <a href="{{SITE}}/logout" class="top-navigation-section-static">Logout</a>
                {% endif %}

                {% if REQUEST.is_mobile() %}
                <div class="collapse" id="menu-content">
                    {% if MENU.admin.hasitems() %}
                    {{ MENU.admin.render(REQUEST, 'menu-mobile') }}
                    {% endif %}
                </div>
                {% else %}
                 <div class="menu-wrapper" id="menu-content">
                     {% if MENU.admin.hasitems() %}
                     {{ MENU.admin.render(REQUEST, 'menu menu-horizontal menu-top-theme') }}
                     {% endif %}
                 </div>
                 {% endif %}
            </div>
        </div>

        {% if REQUEST.auth['login'] %}
        <div class="context-navigation-section">
            <div class="container">
                <div class="pull-left tenant-bar-box">
                    <form class="form-inline pull-left" disabled onsubmit='return false;'>
                        <div class="form-group" style="width:100%">
                            <input id='open_tenant' class="form-control" readonly style="width: 290px" placeholder="Current Open Tenant">
                        </div>
                    </form>
                    <form class="form-inline pull-left" action="{{SITE}}" method="post">
                        <input type="hidden" name="X-Tenant-Id" value="NULL">
                        <button type="submit" class="btn btn-danger" class="pull-right">Close</button>
                    </form>
                </div>
                <div class="pull-right search-bar-box">
                    <form class="form-inline pull-left" method="post" action="{{ SITE }}/">
                        <div class="form-group">
                            <input type="hidden" name="X-Tenant-Id" value="NULL">
                            <select class="form-control" name="X-Domain" onchange="this.form.submit()">
                                {% for domain in REQUEST.auth['domains'] %}
                                <option value='{{ domain }}' {% if REQUEST.auth['domain'] == domain %}selected{% endif %}  >{{ domain }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                    {% if not REQUEST.auth['domain_admin'] %}
                    <form class="form-inline pull-right" method="post" action="{{ SITE }}/open_tenant">
                        <select class="form-control" name="X-Tenant-Id" onchange="this.form.submit()">
                            {% for role in REQUEST.auth['roles'] %}
                            {% if role['domain_name'] == REQUEST.auth['domain'] %}
                            <option value='{{ role['tenant_id'] }}' {% if REQUEST.auth['tenant_id'] == role['tenant_id'] %}selected{% endif %}>blah</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                    {% else %}
                    <form id="searchForm" class="form-inline pull-right" method="post" action="{{ SITE }}/search" onsubmit="link(this); return false;" data-url="{{SITE}}/search" data-name="Search Tenants">
                        <div class="form-group pull-left">
                            {{ SEARCH }}
                        </div>
                        <button type="submit" class="btn btn-success">Search</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="push_top"></div>
        {% endif %}
        <div class="loading" id="loading"></div>
        <div class="locked" id="locked"></div>
        <div class="confirm" id="confirm">
            <div class="modal-header">
                <button class="close" type="button" onclick="document.getElementById('confirm').style.display = 'none';">x</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body" id="confirmation">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" onclick="document.getElementById('confirm').style.display = 'none';">Cancel</button>
                <button id='continue' class="btn btn-danger">Continue</button>
            </div>
        </div>
        <div class="auto-logout" id="logout">
            <div class="modal-header">
                <h4 class="modal-title">Inactivity Logoff</h4>
            </div>
            <div class="modal-body">
                Your session is about to expire in <b><span id='timer'></span></b> seconds<BR>
                Do you want to continue?
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" onclick="document.getElementById('logout').style.display = 'none'; idleTime=0;">Continue</button>
                <a class="btn btn-danger" href="{{SITE}}/logout">Logout</a>
            </div>
        </div>
        <div class="window" id="window">
            <div class="modal-header">
                <button class="close" type="button" onclick='close_window()'>x</button>
                <h4 class="modal-title" id='window_title'>Title</h4>
            </div>
            <div class="modal-body" id="window_content">
                Content
            </div>
            <div class="push_bottom"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    {% if REQUEST.auth['login'] %}
                    {% if MENU.accounts.hasitems() %}
                    <div class="block menu_accounts">
                        <div class="block_title">
                            Tenant Account
                        </div>
                        <div class="block_menu">
                            <ul class="nav nav-pills nav-stacked">
                                {{ MENU.accounts.render(REQUEST, 'menu menu-vertical menu-left-theme') }}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if MENU.services.hasitems() %}
                    <div class="block menu_services">
                        <div class="block_title">
                            Services
                        </div>
                        <div class="block_menu">
                            <ul class="nav nav-pills nav-stacked">
                                {{ MENU.services.render(REQUEST, 'menu menu-vertical menu-left-theme') }}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <div class="block">
                        <div class="block_title">
                            Login
                        </div>
                        <div class="block_content">
                            <span class='title'>Username:</span>
                            <div class="box">
                                {{ REQUEST.auth.username }}
                            </div>
                            <span class='title'>Email:</span>
                            <div class="box">
                                {{ REQUEST.auth.email }}
                            </div>
                            <span class='title'>Login Domain:</span>
                            <div class="box">
                                {{ REQUEST.auth.domain }}
                            </div>
                            <span class='title'>Active Roles:</span>
                            {% for role in REQUEST.auth.roles %}
                            <div class="box">
                                {{ role }}
                            </div>
                            {% endfor %}
                            <span class='title'>Last Login:</span>
                            <div class="box">
                                {{ DATETIME.f_datetime(REQUEST.auth.last_login) }}
                            </div>
                            <a href="{{ SITE }}/logout" type="submit" class="btn btn-danger">Logout</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-sm-9">
                    <div class="block">
                        {% if title %}
                        <div class="block_title" id="title">{{title}}</div>
                        {% else %}
                        <div class="block_title" id="title">{{ APP.config.get("application").get('name', 'Tachonic UI') }}</div>
                        {% endif %}
                        <div class="block_content" id="service">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="popup"></div>
            <div class="container">
                <p class="pull-right"><a href="#">Back to top</a></p>
            </div>
        <div class="push_bottom"></div>

        <footer>
        </footer>

        {% if REQUEST.auth.login %}
        <script>
        /**
         * Run login client side javascript.
         */
        $( document ).ready(function() {
            // Start Message Polling
            poll('{{SITE}}/messaging');
            // Auto Logout
            autoLogout('{{SITE}}/logout', 600, 60);
        });
        </script>
        {% endif %}
    </body>
</html>
