{% extends "photonic/base.html" %}  
{% block body %}
{% if not REQ.is_ajax %}
<body>
{% include "photonic/login.html" %}
{% include "photonic/header.html" %}
    <div id='application' class="application">
        {% include "photonic/sidebar.html" %}
{% endif %}
{% block view %}{% endblock %}
{% if not REQ.is_ajax %}
    </div>
    <div class="loading" id="loading"></div>
    <div id="popup"></div>
{% include "photonic/footer.html" %}
<script>
    var app = "{{ REQ.app }}";
</script>
</body>
{% endif %}
{% endblock %}
