{% extends "photonic/base.html" %}  
{% block body %}
{% if not REQ.is_ajax %}
<body>
    <header id="header">
{% include "photonic/header.html" %}
    </header>
    <div id='application' class="application">
        <div class="sidebar" id="sidebar">
        {% if not REQ.is_ajax %}
        {% include "photonic/sidebar.html" %}
        {% endif %}
        </div>
{% endif %}
{% block view %}{% endblock %}
{% if not REQ.is_ajax %}
    </div>
    <div class="loading" id="loading"></div>
    <div id="popup"></div>
{% include "photonic/footer.html" %}
<script>
    tachyon.init("{{APP}}");
</script>
</body>
{% endif %}
{% endblock %}
