<div class="container">
    <div class="row">
        {% if chart_title %}
        <div class="col-md-12">
            <h2 class="photonicChartTitle">{{ chart_title }}</h2>
        </div>
        {% endif %}
        {% if not chart_legend %}
        <div class="col-md-12">
        {% else %}
        <div class="col-md-6">
        {% endif %}
            <canvas height="300" id="{{chart_id}}"></canvas>
            <script>
            function toggleChartDataset(chart, datasetIndex, legendItem) {
                let arc = this.chart.getDatasetMeta(datasetIndex).data[legendItem.index];
                arc.hidden = !arc.hidden ? true : false;
                this.chart.update();
            }

            new Chart(document.getElementById("{{chart_id}}"),
                {
                    type: "{{chart_type}}",
                    options: {
                        maintainAspectRatio: false,
                        {% if chart_ysuffix %}
                        scales: {
                            yAxes: [
                                {
                                    ticks: {
                                        callback: function(value, index, values) {
                                            return value + "{{ chart_ysuffix }}";
                                        }
                                    }
                                }
                            ]
                        },
                        {% endif %}
                        legend: {
                            fullWidth: false,
                            display: false,
                        },
                        title: {
                            fullWidth: false,
                            display: false,
                        },
                        responsive: true,
                        layout: {
                            padding: {
                                top: 5,
                                bottom: 5,
                                left: 5,
                                right: 5
                            }
                        }
                    },
                    data: {
                        datasets: [
                            {% for dataset in chart_datasets %}
                            {
                                {% if dataset['fill'] %}
                                fill: {{ dataset['fill'] }},
                                {% endif %}

                                {% if dataset['border_color'] %}
                                borderColor: {{dataset['border_color']}},
                                {% endif %}

                                {% if dataset['background_color'] %}
                                backgroundColor: {{dataset['background_color']}},
                                {% endif %}

                                {% if dataset['label'] %}
                                label: "{{dataset['label']}}",
                                {% endif %}
                                data: [ {{ dataset['data'] }} ]
                            },
                            {% endfor %}
                        ],
                        labels: photonicUtils.formatChartLabels([ {{ chart_labels }} ])
                    }
                }
            )
            </script>
        </div>
        {% if chart_legend %}
        <div class="col-md-6">
            <div class="photonicChartLegend">
            {% for legend in legend_data %}
                <div>
                    <div style="width: 10px; background-color:{{legend['bgcolor']}}">
                    </div>
                    <div style="background-color: #efefef;">
                        {{legend['label']}}<BR>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
