<header>
	<span class="toggler-icon" onclick="toggle_navigation();"></span>

    <img class="header-brand" src="{{theme('logo.png') }}" alt="Logo">
    <a class="header-brand" href="#">{{ G.app.config.get("application", 'name', fallback='Tachonic UI') }}</a>

    <form method="POST" action="{{APP}}/scope">
        {{ REQ.context.tenants_html }}
    </form>
	<div class="header-links">
		<a class="header-link" href="{{APP}}/logout"> <span data-feather="log-out"></span>Sign out</a>
	</div>
</header>
