<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0, maximum-scale=1">
    <meta name="robots" content="index, follow">

    <link type="text/css" rel="stylesheet" href="{{STATIC}}/photonic/ext/jquery-ui/jquery-ui.min.css">
    <link type="text/css" rel="stylesheet" href="{{STATIC}}/photonic/ext/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{STATIC}}/photonic/ext/DataTables/datatables.min.css">
    <link type="text/css" rel="stylesheet" href="{{STATIC}}/photonic/ext/select2/css/select2.min.css">
    <link type="text/css" rel="stylesheet" href="{{STATIC}}/photonic/ext/chartjs/Chart.min.css">
    <link type="text/css" rel="stylesheet" href="{{STATIC}}/photonic/tachyon.css">
    <link type="text/css" rel="stylesheet" href="{{ theme('theme.css') }}">
    {% for stylesheet in G.stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{STATIC}}/{{ stylesheet }}">
    {% endfor %}
    <script type="text/javascript">
        var mxBasePath = '{{STATIC}}/photonic/ext/mxgraph';
        var mxLanguage = 'en';
    </script>
    <script type="text/javascript" src="{{STATIC}}/photonic/ext/mxgraph/js/mxClient.js"></script>
    <script type="text/javascript" src="{{STATIC}}/photonic/ext/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC}}/photonic/ext/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{STATIC}}/photonic/ext/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC}}/photonic/ext/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="{{STATIC}}/photonic/ext/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="{{STATIC}}/photonic/ext/moment/moment.js"></script>
    <script type="text/javascript" src="{{STATIC}}/photonic/ext/moment/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript" src="{{STATIC}}/photonic/ext/chartjs/Chart.min.js"></script>
    <script type="text/javascript" src="{{STATIC}}/photonic/ext/randomColor/randomColor.js"></script>
    <script type="text/javascript" src="{{STATIC}}/photonic/tachyon.js"></script>
    <script type="text/javascript" src="{{STATIC}}/photonic/ext/feather-icons/feather.min.js"></script>
    {% for javascript in G.javascripts %}
    <script type="text/javascript" src="{{STATIC}}/{{javascript}}"></script>
    {% endfor %}

    <link rel="icon" href="{{ theme('icon-32x32.png') }}">

    {% for css in REQ.context.css %}
    <link type="text/css" rel="stylesheet" href="{{STATIC}}/{{css}}">
    {% endfor %}
    {% for js in REQ.context.js %}
    <script type="text/javascript" src="{{STATIC}}/{{js}}"></script>
    {% endfor %}

    <title>{{ G.app.config.get(REQ.host, 'name', fallback=G.app.config.get('application', 'name', fallback='Photonic')) }}</title>
</head>
