<div class="header-brand">
    <a class="toggler-icon" data-no-ajax><span data-feather="menu" onclick="photonicDom.toggleSidebar();"></span></a>
    <img src="{{theme('logo.png') }}" alt="Logo">
    <span class='title'></span>
</div>
<div class="header-tenant">
    {% if REQ.credentials.authenticated %}
    {% include "photonic/tenant.html" %}
    {% endif %}
</div>
<div class="header-links">
    {% if REQ.credentials.authenticated %}
    <a class="header-link" href="{{APP}}" data-logout> <span data-feather="log-out"></span>Sign out</a>
    {% endif %}
</div>
