{% if not REQ.credentials.authenticated %}
<div class="modal modal-login">
    <div>
        <h1>Login <span data-feather="chevrons-down"></span></h1>
        <div>
            {% if error_title %}
            <p class='red'>{{ error_title }} {{ error_description }} ({{ REQUEST_ID }})</p>
            {% endif %}
            <form id='loginForm' method="post" autocomplete="off" data-login>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="username" class="control-label sr-only">Email/Username</label>
                    <input name="username" type="username" id="username" class="form-control" placeholder="Username" value="" required autofocus>
                    <i class="form-control-feedback glyphicon glyphicon-user"></i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="password" class="sr-only">Password</label>
                    <input name="password" type="password" autocomplete="off" id="password" class="form-control" placeholder="Password" required>
                    <i class="form-control-feedback glyphicon glyphicon-lock"></i>
                </div>
                {% if not G.app.config.get('identity', 'auth_domain', fallback=None) %}
                <div class="form-group">
                    <label for="domain" class="sr-only">Domain</label>
                    <input name="domain" type="text" id="domain" class="form-control" placeholder="Domain" value="">
                </div>
                {% else %}
                <input name="domain" type="hidden" id="domain" class="form-control" value="{{ G.app.config.get('identity', 'auth_domain') }}">
                {% endif %}
                {% if not G.app.config.get('identity', 'region', fallback=None) %}
                <div class="form-group">
                    <label for="region" class="sr-only">Region</label>
                    <select name="region" id="region" data-placeholder="Select Region" data-allow-Clear data-url="/v1/regions" data-id='region' data-text='region'>
                        <option value=""></option>
                    </select>
                </div>
                {% endif %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
            <script>
                var username = localStorage.getItem('tachyonic_username');
                var domain = localStorage.getItem('tachyonic_domain');
                var region = localStorage.getItem('tachyonic_region');
                if (username != null) {
                    document.getElementById('username').value = username;
                }
                if (domain != null) {
                    document.getElementById('domain').value = domain;
                }
                if (region != null) {
                    select = document.getElementById('region');
                    option = document.createElement("option");
                    option.value = region;
                    option.selected = true;
                    option.innerHTML = region;
                    select.appendChild(option);

                }
            </script>
        </div>
    </div>
</div>
{% endif %}
