{% extends "photonic/base.html" %}
{% block content %}
    <div class="signin">
		<form method="post" action="{{SITE}}/login" role="form">
			<div class="form-header">
				<h2 class="form-signin-heading">Please sign in</h2>
			</div>
			<div class="form-group has-feedback has-feedback-left">
				<label for="username" class="control-label sr-only">Email/Username</label>
				<input name="username" type="username" id="username" class="form-control" placeholder="Username" value="{{ username }}" required autofocus>
				<i class="form-control-feedback glyphicon glyphicon-user"></i>
			</div>
			<div class="form-group has-feedback has-feedback-left">
				<label for="password" class="sr-only">Password</label>
				<input name="password" type="password" id="password" class="form-control" placeholder="Password" value="{{ password }}" required>
				<i class="form-control-feedback glyphicon glyphicon-lock"></i>
			</div>
			<div class="form-group">
				<label for="domain" class="sr-only">Domain</label>
				<input name="domain" type="text" id="domain" class="form-control" placeholder="Domain" value="{{ domain }}" required>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
	</div>
{% endblock %}
