<div class="header-tenant" style="display: none;">
    {% include "photonic/tenant.html" %}
</div>

<h1>Navigation <span data-feather="chevrons-down"></span></h1>
<input type="text" id='search-nav' data-event="search-nav" placeholder='Search Navigation'>
{{ G.nav_menu.render() }}
{% if REQ.credentials.authenticated %}
{% if not G.app.config.get('identity', 'region', fallback=None) or not G.app.config.get('identity', 'domain', fallback=None) %} 
<h1>Context <span data-feather="chevrons-down"></span></h1>
{% if not G.app.config.get('identity', 'region', fallback=None) %}
<form method="POST" data-scope>
    <input type="hidden" name="domain" value="">
    <input type="hidden" name="tenant_id" value="">
    <select name="region" data-url="/v1/regions" data-id='region' data-text='region' data-placeholder="Select Region" onchange="tachyon.onChange(event, this.form);">
        {% if REQ.context_region %}
            <option value="{{ REQ.context_region }}" selected> {{ REQ.context_region }}</option>
        {% endif %}
    </select>
</form>
{% endif %}
{% if not G.app.config.get('identity', 'domain', fallback=None) %}
<form method="POST" data-scope>
    <input type="hidden" name="tenant_id" value="">
    <select name="domain" data-id="name" data-url="/v1/domains" data-allow-clear data-placeholder="Select Domain" onchange="tachyon.onChange(event, this.form);">
        <option value=""></option>
        {% if REQ.context_domain %}
            <option value="{{ REQ.context_domain }}" selected> {{ REQ.context_domain }}</option>
        {% endif %}
    </select>
</form>
{% endif %}
{% endif %}
<h1>Credentials <span data-feather="chevrons-down"></span></h1>
<input type="text" value="{{ REQ.credentials.username }}" disabled readonly>
<h2>Assigned Roles</h2>
{% for role in REQ.credentials.roles %}
    <input type="text" value="{{ role }}" disabled readonly>
{% endfor %}
<a href="{{APP}}/env" class="btn btn-warning"  data-modal>Environment</a>
{% endif %}
