{% extends "photonic/body.html" %}
{% block view %}
{% if not REQ.is_ajax %}
<main role="main">
    <div class="push_header"></div>
        <div id="main">
{% endif %}
            <h1>{{ view }} <a href='#' onclick="tachyon.closeWindow();"><span data-feather="x-circle"></span></a></h1>
            <div class="view">
                {% block content %}{% endblock %}
            </div>
            {% if self.buttons() %}
            <div class="buttons">
                {% block buttons %}{% endblock %}
            </div>
            {% endif %}
            {% if self.more() %}
                {% block more %}{% endblock %}
            {% endif %}
{% if not REQ.is_ajax %}
        </div>
    <div class="push_footer"></div>
</main>
{% endif %}
{% endblock %}
