<div class="form-group" data-count="{{ num_roles + 1 }}" id="role_assignments">
    {% for a in assignments %}
        <form id="roleform{{ loop.index }}" autocomplete="off" enctype="multipart/form-data" class="row">
            <div class="col-sm-3">
                <select data-id="name" name="domain"><option value="{{ a['domain'] }}" selected>{{ a['domain'] }}</option></select>
            </div>
            <div class="col-sm-3">
                <select name="tenant_id"><option value="{{ a['tenant_id'] }}">{{ a['tenant_name'] }}</option></select>
            </div>
            <div class="col-sm-3">
                <select name="role"><option value="{{ a['role_id'] }}">{{ a['role_name'] }}</option></select>
            </div>
            <div class="col-sm-3">
                <a href="{{APP}}/accounts/rbac/user/{{id}}" data-form="roleform{{ loop.index }}" data-revoke><span class="text-danger" data-feather="minus-square"></span></a>
            </div>
            <input type="hidden" name="remove" value="True">
        </form>
    {% endfor %}
        <form id="roleform{{ num_roles + 1 }}" autocomplete="off" method='post' enctype="multipart/form-data" class="row">
            <div class="col-sm-3">
                <select name="domain" data-id="name" data-url="/v1/domains" data-allow-clear data-placeholder="Select Domain">
                    <option value=""></option>
                    {% if REQ.context_domain %}
                        <option value="{{ REQ.context_domain }}" selected> {{ REQ.context_domain }}</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-sm-3">
                <select name="tenant_id" data-url="/v1/tenants" data-allow-clear data-placeholder="Select Tenant">
                    <option value=""></option>
                    {% if REQ.context_tenant_id %}
                    <option value="{{ REQ.context_tenant_id }}" selected> {{ G.tenant_name(REQ) }}</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-sm-3">
                <select name="role" data-url="/v1/roles" data-placeholder="Select Role">
                </select>
            </div>
            <div class="col-sm-3">
                <a href="{{APP}}/accounts/rbac/user/{{id}}" data-form="roleform{{ num_roles + 1 }}" data-revoke style="display:none"><span class="text-danger" data-feather="minus-square"></span></a>
                <a href="{{APP}}/accounts/rbac/user/{{id}}" data-form="roleform{{ num_roles + 1 }}" data-assign><span data-feather="plus-square"></span></a>
            </div>
        </form>
</div>
