<div class="form-group" data-count={{ num_roles + 1 }}>
    {% for a in assignments %}
    <div class="row">
        <form id="roleform{{ loop.index }}" autocomplete="off" method='post' enctype="multipart/form-data" data-type="revoke" data-method='DELETE' data-url="{{APP}}/accounts/rbac/user/{{id}}">
            <div class="col-sm-3">
                <select class="select" name="domain" data-url="/v1/domains"><option value="{{ a['domain'] }}" selected>{{ a['domain'] }}</option></select>
            </div>
            <div class="col-sm-3">
                <select class="select" name="tenant_id"><option value="{{ a['tenant_id'] }}">{{ a['tenant_name'] }}</option></select>
            </div>
            <div class="col-sm-3">
                <select class="select" name="tenant_id"><option value="{{ a['role_id'] }}">{{ a['role_name'] }}</option></select>
            </div>
            <div class="col-sm-3">
                <input class="btn btn-danger" type="submit" value="-" data-form_id="roleform{{ loop.index }}" data-method="DELETE">
            </div>
        </form>
    </div>
    {% endfor %}
    <div class="row">
        <form id="roleform{{ num_roles + 1 }}" autocomplete="off" method='post' enctype="multipart/form-data" data-type="assign" data-method='POST' data-url="{{APP}}/accounts/rbac/user/{{id}}">
            <div class="col-sm-3">
                <select class="select" name="domain" data-id="domain" data-url="/v1/domains" data-allow-clear data-placeholder="Select Domain">
                    <option value=""></option>
                    {% if REQ.context_domain %}
                        <option value="{{ REQ.context_domain }}" selected> {{ REQ.context_domain }}</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-sm-3">
                <select name="tenant" data-id="tenant" data-url="/v1/tenants" data-allow-clear data-placeholder="Select Tenant">
                    <option value=""></option>
                    {% if REQ.context_tenant %}
                    <option value="{{ REQ.context_tenant }}" selected> {{ tenant_name }}</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-sm-3">
                <select name="role" data-id="role" data-url="/v1/roles" data-placeholder="Select Role">
                </select>
            </div>
            <div class="col-sm-3">
                <input class="btn btn-danger" type="submit" value="-" data-form_id="roleform{{ num_roles + 1 }}" data-method="DELETE" style="display:none">
                <input class="btn btn-success" type="submit" value="+" data-form_id="roleform{{ num_roles + 1 }}">
            </div>
        </form>
    </div>
</div>
