{% extends "photonic/view.html" %}
{% block content %}
<form id="main" autocomplete="off" method='post' enctype="multipart/form-data">
    {{ form }}
</form>
{%  include "photonic/users/assign.html" %}
    <hr>
    <input class="btn btn-primary" type="submit" value="Update" data-form_id="main">
    <a data-confirm="Delete item?" href="{{ APP }}/accounts/users/delete/{{id}}" class="btn btn-danger">Delete</a>
    <a href="{{ APP }}/accounts/users/{{id}}" class="btn btn-default">Back</a>

{% endblock %}
